originals/**
*/machine-learning-ex*/ex*/lib
*/machine-learning-ex*/ex*/token
**/ex*.pdf
**/submit.m
**/token.mat
**/out.txt
**/lib/*
**/%
**/ex*/ex*data*.mat
**/ex*/spam*.mat
**/ex7/ex7faces.mat
**/ex8/ex8_movieParams.mat
**/ex8/ex8_movies.mat
**/ex8/movie_ids.txt
